<!-- Page Contents -->
<div class="ui inverted vertical masthead center aligned segment" style="background-color: #422F1D !important;">
</div>
<div class="ui inverted vertical masthead center aligned segment">
  <div class="ui text container">
    <h1 class="ui inverted header">
      Neil Cameron Associates Ltd.
    </h1>
    <h2>High Voltage Commissioning Engineers.</h2>
  </div>
</div>
<div class="ui grey inverted vertical masthead center aligned segment">
  <div class="ui text container">
    <h3 class="established">Est. 2003</h3>
  </div>
</div>

<div class="ui vertical stripe quote segment">
  <div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">
      <div class="column">
        <h3>Craig Cameron</h3>
        <h4>BSc (hons) EngTech TMIET</h4>
        <p>
          <a href="tel:07940544949"><i class="phone icon"></i> 07940544949</a>
          <br>
          <a href="mailto:craig@ncaengineers.co.uk"><i class="mail icon"></i> craig@ncaengineers.co.uk</a>
        </p>
      </div>
      <div class="column">
        <h3>Neil Cameron</h3>
        <h4>IEng FIET</h4>
        <p>
          <a href="tel:07789 118323"><i class="phone icon"></i> 07789 118323</a>
          <br>
          <a href="mailto:neil@ncaengineers.co.uk"><i class="mail icon"></i> neil@ncaengineers.co.uk</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">About</h3>
        <p>Neil Cameron Associates Ltd was established in 2003, by Neil Cameron, having spent over 34 years in the Electricity Supply Industry working for the CEGB/National Grid Company, on systems up to 400KV. </p>

        <p>The company is growing organically, spending the last 10 years working on Distribution Networks for both DNOs and IDNOs, along with Private Networks, which has become our core business.</p>

        <p>We pride ourselves on identifying requirements, often missed, for example, by DNOs or even our clients, particularly when Codes of Practice change, thereby, exceeding expectations.</p>
      </div>
      <div class="six wide right floated column">
        <img src="images/electricity.jpg" class="ui large image">
      </div>
    </div>
  </div>
</div>

<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="six wide left floated column">
        <img src="images/IMG_6247.PNG" class="ui large image">
    </div>
    <div class="eight wide column">
      <div class="row">
          <h3 class="ui header">Commissioning</h3>
      </div>
      <div class="row">
          <p><i class="yellow lightning icon"></i>HV AC Power Frequency Pressure tests on Switchgear &amp;  Transformers up to 11Kv System Voltage</p>
      </div>
      <div class="row">
          <p><i class="yellow lightning icon"></i>HV DC Pressure tests on Switchgear &amp; Transformers up to 11Kv System Voltage</p>
      </div>
      <div class="row">
          <p><i class="yellow lightning icon"></i>HV VLF &amp; DC Pressure tests on cables up to 33Kv (System Voltage) – Pressure tests are up to 33Kv DC or AC VLF as required by Customer/DNO</p>
      </div>
      <div class="row">
        <p><i class="yellow lightning icon"></i>Primary Injection tests to prove integrity of Plant and Protective components, relays and systems. (Not System Voltage Specific)</p>
      </div>
      <div class="row">
          <p><i class="yellow lightning icon"></i>Secondary Injection Tests to prove integrity of Protective components, relays and systems. (Not System Voltage Specific)</p>
      </div>
    </div>
  </div>
</div>


<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="eight wide column">
      <div class="row">
        <h3 class="ui header">Pre-Commissioning, and Commissioning of High Voltage AC electrical plant, equipment and systems including:</h3>
      </div>
      <div class="row">
        <p>
        <i class="yellow lightning icon"></i>Switchgear
        </p>
      </div>
      <div class="row">
        <p>
        <i class="yellow lightning icon"></i>Transformers
        </p>
      </div>
      <div class="row">
        <p>
        <i class="yellow lightning icon"></i>Cables
        </p>
      </div>
      <div class="row">
        <p>
        <i class="yellow lightning icon"></i>Protective relays and systems
        </p>
      </div>
      <div class="row">
        <p>
        <i class="yellow lightning icon"></i>G59 Relays
        </p>
      </div>
    </div>
    <div class="six wide right floated column">
        <img src="images/electricity.jpg" class="ui large image">
    </div>
  </div>
</div>

<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="six wide left floated column">
          <img src="images/electricity.jpg" class="ui large image">
      </div>
      <div class="eight wide column">
        <h3>Maintenance of Protective relays and systems</h3>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="eight wide column">
      <div class="row">
        <h3>Consultancy Services relating to Protective relays and systems including:</h3>
      </div>
      <div class="row">
        <p>
        <i class="yellow lightning icon"></i>Review of design drawings
        </p>
      </div>
      <div class="row">
        <p>
          <i class="yellow lightning icon"></i>Technical representation for client in meetings 
        with DNO’s etc
        </p>
      </div>
      <div class="row">
        <p>
          <i class="yellow lightning icon"></i>Preparation of testing documentation (schedules 
        and programmes) in line with customer/DNO requirements
        </p>
      </div>
      <div class="row">
        <p>
          <i class="yellow lightning icon"></i>Technical due diligence for mergers and acquisitions. (
        ie desktop assessment of condition/valuation of technical assets associated with HV systems).
        </p>
      </div>
    </div>
    <div class="six wide right floated column">
        <img src="images/electricity.jpg" class="ui large image">
    </div>
  </div>
</div>


<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="column">
        <h4 class="ui inverted header">Neil Cameron Associates 2016</h4>
        <p>Site by <a href="http://rubygem.me">@ruby_gem</a></p>
      </div>
    </div>
  </div>
</div>
