<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>NCA Engineers</title>
      <meta name="description" content="Neil Cameron Associates Ltd. High Voltage commissioning engineers.">
      <meta name=viewport content="width=device-width, initial-scale=1">
      <meta name="mobile-web-app-capable" content="yes">
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
      <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>

      <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.js"></script>

      <!-- build:css styles/main.css -->
      <link rel="stylesheet" href="css/main.css">
      <link rel="stylesheet" href="css/mobile.css">

      <!-- endbuild -->
  </head>
  <body>
    <div class='container'>
      <div class='main'>
        <div class="ui huge message">
            <h1 class="ui huge header">Neil Cameron Associates Ltd</h1>
            <p>
              High Voltage Commissioning Engineers
            </p>
        </div>
      
        <%=yield%>
      
        <div class="ui segment">
          <div class="bottom">
              <center>
                Neil Cameron Associates 2015. All Rights Reserved. 
                <br>
                Image courtesy of <a href="https://flic.kr/p/6q773v">Bert Kaufmann on flickr</a>
              </center>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-70728700-1', 'auto');
    ga('send', 'pageview');

  </script>
</html>
