<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>NCA Engineers</title>
      <meta name="description" content="Neil Cameron Associates Ltd. High Voltage commissioning engineers.">
      <meta name=viewport content="width=device-width, initial-scale=1">
      <meta name="mobile-web-app-capable" content="yes">
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
      <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>

      <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.js"></script>

      <!-- build:css styles/main.css -->
      <link rel="stylesheet" href="css/main.css">
      <link rel="stylesheet" href="css/mobile.css">

      <!-- endbuild -->
  </head>
  <body>
    <div class='container'>
      <div class='main'>
        <div class="ui huge message">
            <h1 class="ui huge header">Neil Cameron Associates Ltd</h1>
            <p>
              High voltage commissioning engineers
            </p>
        </div>
        <div class="ui segment">
          <%=yield%>
          <div class="bottom">
              <center>
                Neil Cameron Associates 2015. All Rights Reserved. 
                <br>
                Image courtesy of <a href="https://flic.kr/p/6q773v">Bert Kaufmann on flickr</a>
              </center>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
